@page
@using HoopStackWebsite.Models.Level;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<body>
    <div class="title" style="text-align:center">
        <h1 class="display-4" style="padding-bottom: 2%"><b>Hoop Stack Level Solver</b></h1>
        @*<u>Directions</u>
        <div class="directions" style="">
            <p style="display: inline-block; text-align: left">
                1: Input level number and number of stacks.
                <br />2: Start from Top-Left stack.
                <br />3: Input colors of each stack from Bottom to Top.
                <br />&emsp;&emsp;Ex: Blue,Green,Green,Red
                <br />4: Leave unused stacks blank and submit.
            </p>
        </div>*@
    </div>
    <dv class="wrap" style="">
        <div class="left" style="">
            <u>Directions</u>
            <div class="directions" style="">
                <p style="display: inline-block; text-align: left">
                    1: Input level number and number of stacks. <br />
                    2: Start with stack 1, going from the top-left. <br />
                    3: Start with the color at the bottom of stack. <br />
                    4: Input colors of each stack separated by a comma. <br />
                    &emsp;&emsp;Ex: Color 1,Color 2,Color 3 <br />
                    5: Leave unused stacks blank and submit.
                </p>
            </div>
            <div>
                <img src="@Url.Content("~/images/hs level ex.png")" alt="Level Input Example" class="image">
            </div>
            <form asp-page-handler="input" method="post">
                <fieldset>
                    <legend><u>Solve Level</u></legend>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <input type="number" asp-for="LevelModel.LevelNum" placeholder="Level Number" />
                        <span asp-validation-for="LevelModel.LevelNum" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="number" asp-for="LevelModel.NumStacks" placeholder="Number of Stacks" />
                        <span asp-validation-for="LevelModel.NumStacks" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack1" placeholder="Stack 1 Colors" />
                        <span asp-validation-for="LevelModel.Stack1" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack2" placeholder="Stack 2 Colors" />
                        <span asp-validation-for="LevelModel.Stack2" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack3" placeholder="Stack 3 Colors" />
                        <span asp-validation-for="LevelModel.Stack3" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack4" placeholder="Stack 4 Colors" />
                        <span asp-validation-for="LevelModel.Stack4" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack5" placeholder="Stack 5 Colors" />
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack6" placeholder="Stack 6 Colors" />
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack7" placeholder="Stack 7 Colors" />
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack8" placeholder="Stack 8 Colors" />
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack9" placeholder="Stack 9 Colors" />
                    </div>
                    <div>
                        <input type="text" asp-for="LevelModel.Stack10" placeholder="Stack 10 Colors" />
                    </div>
                    <div>
                        <input type="submit" value="Submit" class="submit" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="right" method="post" style="">
            <div class="seach-level" style="padding-bottom: 10%">
                <form asp-page-handler="search" method="post">
                    <fieldset>
                        <legend><u>Search Level</u></legend>
                        <div>
                            <input type="number" asp-for="searchLevel" placeholder="Level Number" />
                        </div>
                        <div>
                            <input type="submit" value="Search" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <fieldset>
                <legend><u>Level Solution</u></legend>
                @if (Model.errorSearch)
                {
                    <h6>Level Not Found</h6>
                }
                else if (Model.errorSolve)
                {
                    <h6>Level Could Not Be Solved</h6>
                }
                else if (Model.displayLevels.Count > 0)
                {
                    foreach (var level in Model.displayLevels)
                    {
                        <h5>Level @level.LevelNum</h5>
                        <ul style="display: inline-block; text-align: left; padding: 1%; list-style: none;">
                            @foreach (string inst in level.Instructions)
                            {
                                <li style="font-size: 18px;">
                                    @inst
                                </li>
                            }
                        </ul>
                    }
                }
                else
                {
                    <h6>Input or Search Level for Solution</h6>
                }
            </fieldset>
        </div>
</body>
</html>