@page
@model HoopStackWebsite.Pages.FormModel
@{
    ViewData["Title"] = "Level Entry Form";
    //Layout = null;
}
@*@{
    if (IsPost)
    {
        string companyname = Request.Form["companyname"];
        string contactname = Request.Form["contactname"];
        int employeecount = Request.Form["employees"].AsInt();

        <text>
            You entered:
            <br />
            Company Name: @companyname
            <br />
            Contact Name: @contactname
            <br />
            Employee Count: @employeecount
            <br />
        </text>
    }
}*@
<!DOCTYPE html>
<html>
<head>
    <title>Level Entry</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Level Entry</legend>
            <div>
                <label for="Level">Level:</label>
                <input type="number" name="Level" value="" />
            </div>
            <div>
                <label for="NumStacks">Number of Stacks:</label>
                <input type="number" name="NumStacks" value="" />
            </div>
            <div>
                <label for="Stack1">Stack 1 Colors:</label>
                <input type="text" name="Stack1" value="" />
            </div>
            <div>
                <label for="Stack2">Stack 2 Colors:</label>
                <input type="text" name="Stack2" value="" />
            </div>
            <div>
                <label for="Stack3">Stack 3 Colors:</label>
                <input type="text" name="Stack3" value="" />
            </div>
            <div>
                <label for="Stack4">Stack 4 Colors:</label>
                <input type="text" name="Stack4" value="" />
            </div>
            <div>
                <label for="Stack5">Stack 5 Colors:</label>
                <input type="text" name="Stack5" value="" />
            </div>
            <div>
                <label for="Stack6">Stack 6 Colors:</label>
                <input type="text" name="Stack6" value="" />
            </div>
            <div>
                <label for="Stack7">Stack 7 Colors:</label>
                <input type="text" name="Stack7" value="" />
            </div>
            <div>
                <label for="Stack8">Stack 8 Colors:</label>
                <input type="text" name="Stack8" value="" />
            </div>
            <div>
                <label for="Stack9">Stack 9 Colors:</label>
                <input type="text" name="Stack9" value="" />
            </div>
            <div>
                <label for="Stack10">Stack 10 Colors:</label>
                <input type="text" name="Stack10" value="" />
            </div>
            <div>
                <label></label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
</html>
