@page
@model HoopStackWebsite.Pages.LevelEntry.AddLevelModel
@{
    ViewData["Title"] = "AddLevel";
}

<!DOCTYPE html>
<html>
<head>
    <title>Level Entry</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Level Entry</legend>
            <div>
                <input type="number" asp-for="Level.LevelNum" placeholder="Level" />
            </div>
            <div>
                <input type="number" asp-for="Level.NumStacks" placeholder="Number of Stacks" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack1" placeholder="Stack 1 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack2" placeholder="Stack 2 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack3" placeholder="Stack 3 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack4" placeholder="Stack 4 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack5" placeholder="Stack 5 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack6" placeholder="Stack 6 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack7" placeholder="Stack 7 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack9" placeholder="Stack 8 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack9" placeholder="Stack 9 Colors" />
            </div>
            <div>
                <input type="text" asp-for="Level.Stack10" placeholder="Stack 10 Colors" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <!-- This button looks better but not sure if it functions differently from the above button type
            <div>
                <input type="submit" value="Submit" class="submit" />
            </div>
            -->
        </fieldset>
    </form>
</body>
</html>


